/* 

    BETTER EMOTES 

*/

/* Server Emote list size */
#app-mount .emojiImage-1hZi2F {
  height: var(--emote-size);
  width: var(--emote-size);
}

/* Changes default Emote height/width without a message attached */
#app-mount .emoji.jumboable {
  height: var(--emote-size);
  width: var(--emote-size);
}

/* Changes the emote height/width when used in a message */
#app-mount .emoji {
  height: var(--emote-size);
  width: var(--emote-size);
}

/* Reaction Emote size */
#app-mount .reaction-1ELvT8 .emoji {
  width: var(--react-emote-size);
  height: var(--react-emote-size);
}

/* Better Chat font sizes to go with the emotes */
#app-mount .markup-2BOw-j, 
#app-mount .username-_4ZSMR {
  font-size: var(--default-font-size);
}
