/* Better Emote Sizes */

#app-mount .emoji.jumboable {
  /* Changes default Emote height/width without a message attached */
  height: 2.5rem;
  width: 2.5rem;
}

/* Changes the emote height/width when used in a message */

#app-mount .emoji {
  height: 2rem;
  width: 2rem;
}

/* Reaction emote fix */

#app-mount .reaction-1ELvT8 .emoji {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/* Font Fix for the Emotes + easier readability */

#app-mount .markup-2BOw-j {
  font-size: 1.063rem;
  line-height: 1.3;
}
