/* Server Emote list size */
#app-mount .emojiImage-1hZi2F {
  height: var(--emote-size);
  width: var(--emote-size);
}

/* Changes default Emote height/width without a message attached */
#app-mount .emoji.jumboable {
  height: var(--emote-size);
  width: var(--emote-size);
}

/* Changes the emote height/width when used in a message */
#app-mount .emoji {
  height: var(--emote-size);
  width: var(--emote-size);
}

/* Reaction Emote size */
#app-mount .reaction-1ELvT8 .emoji {
  width: var(--react-emote-size);
  height: var(--react-emote-size);
}

/* Better Chat font sizes to go with the emotes */
#app-mount .markup-2BOw-j, 
#app-mount .username-_4ZSMR {
  font-size: var(--default-font-size);
}

/* Bigger emotes in the emote menu 1/2 */
#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .row-3j9Kuo {
    height: var(--menu-emote-size)+4;
}

/* Bigger emotes in the emote menu 2/2 */
#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA {
    height: var(--menu-emote-size);
    width: var(--menu-emote-size);
}

/* Hide emojis in embedded messages 1/2 */
#app-mount .embedFull-2tM8-- .emoji {
    display: var(--embed-emote);
}

/* Custom Emote status */
#app-mount .activity-2Gy-9S .emoji,
#app-mount .hoverRoll-YK53gQ .emoji
{
    height: var(--custom-status-emote);
    width: var(--custom-status-emote);
}

/* Server Emote list */
#app-mount .emojiRow-zIc7ZX .emojiImage-1hZi2F {
    height: var(--server-emotes);
    width: var(--server-emotes);
}

/* Tpying emote suggestions */
#app-mount .icon-3ZzoN7 {
  height: var(--menu-emote-size);
  width: var(--menu-emote-size);
}
