/* Emotes Button */
#app-mount .sprite-2iCowe {
	display: var(--emotes-button)!important;
}

/* Gift Nitro Button */
#app-mount .buttonWrapper-1ZmCpA[tabindex="2"] {
  display: var(--gift-nitro-button);
}

/* Gif Button */
#app-mount .buttonWrapper-1ZmCpA[tabindex="3"] {
  display: var(--gif-button);
}

/* Attach file Button */
#app-mount .attachButton-1UjEWA {
	display: var(--attach-button);
}

/* Attach file Button divider */
#app-mount .attachButtonDivider-3Glu60 {
	display: var(--attach-button);
}
