/* Emotes Button */
#app-mount .sprite-2iCowe {
	display: var(--emotes-button)!important;
}

/* Gift Nitro Button */
#app-mount .buttonWrapper-1ZmCpA[tabindex="2"] {
  display: var(--gift-nitro-button);
}

/* Gif Button */
#app-mount .buttonWrapper-1ZmCpA[tabindex="3"] {
  display: var(--gif-button);
}

/* Attach file Button */
#app-mount .attachButton-1UjEWA {
	display: var(--attach-button);
}

/* Attach file Button divider */
#app-mount .attachButtonDivider-3Glu60 {
	display: var(--attach-button);
}

#app-mount .button-14-BFJ, /* Mute, Deafen and Settings buttons */
#app-mount .icon-22AiRD, /* All title bar buttons, mute channel, pinned messages, etc */
#app-mount .button-2vd_v_ /* Emotes & Gif, Nitro Button */ {
	opacity: var(--user-buttons);
}

#app-mount .button-14-BFJ:hover, /* Mute, Deafen and Settings buttons */
#app-mount .icon-22AiRD:hover, /* All title bar buttons, mute channel, pinned messages, etc */
#app-mount .button-2vd_v_:hover /* Emotes & Gif, Nitro Button, maybe others? */  {
	opacity: var(--user-buttons);
	animation-name: fade;
  	animation-duration: 2s;
}

@keyframes fade {
  from {opacity: var(--user-buttons);}
  to {opacity: var(--user-hover-buttons);}
}
