/* Removes the header at the top of new channels */
/* Welcome to the beginning of.. */
#app-mount .default-1VPH9n {
    display: var(--NewChannelMessage);
}

/* add reaction, etc button at the side of messages */
/* You can just click right images to react with most used emotes, or to delete, etc */
#app-mount .buttonContainer-KtQ8wc {
    display: var(--MessageReactButton);
}

/* Removes the Add Channel button on categoriesm the + */
#app-mount .addButton-1BORro.forceVisible-3iHxvH, #app-mount .iconVisibility-1yaA_k:hover .addButton-1BORro {
	display: var(--AddChannelButton)!important;
}

/* Removes the collapse arrow from categories, the > */
#app-mount .icon-WnO6o2 {
	display: var(--CollapseArrow);
}

/* Removes the channel settings and invite button */
#app-mount .children-Bmpf2Q {
	display: var(--ChannelSettingsButton)!important;
}

/* Category Name */
#app-mount .container-2ax-kl {
	font-size: 14px;
	text-align: center;
}

/* Chat window Messages */
#app-mount .containerCozy-jafyvG {
    overflow: visible;
    padding: 10px 0;
    border-radius: 10px;
    margin: 10px 5px 10px 10px;
    background: rgba(0,0,0,0.1)!important;
}

/* Chat window message border */
.dividerEnabled-2TTlcf {
	border: none;
}

/* Chat Username */
#app-mount .username-_4ZSMR {
    font-weight: 600; /* 500 */
}
