#app-mount .app-19_DXt {
    background-image: var(--background-image)!important;
    background-size: var(--background-size);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

:root {
    --background-primary: rgba(0,0,0,0)!important;
    --background-secondary: rgba(0,0,0,0)!important;
    --background-tertiary: rgba(0,0,0,0)!important;
    --deprecated-panel-background: rgba(0,0,0,0)!important;
}
